.newTask {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: calc(0px - 1.5rem - 6px);
}

.InputTask {
    background: var(--gray500);
    width: 39.875rem;
    border: 0;
    height: 3.375rem;
    border-radius: 8px;
    padding: 1rem;
    font-size: 1rem;
    color: var(--gray100);
    resize: none;
}

.buttonTask {
    width: 5.625rem;
    height: 3.375rem;
    border-radius: 8px;
    background: var(--blueDark);
    color: var(--gray100);
    font-size: 0.875rem;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 0.125rem;
    border: 0;
}

.buttonTask:hover{
    background: var(--blue);
    cursor: pointer;
}

.InputTask:focus {
    border: 1px solid var(--purpleDark);
    
}

.bodyTask {
    width: 46rem;
    justify-content: center;
    align-items: center;
    margin: 49px auto 0;

}

.headerTask {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 1.5rem;
}
.criadas {
    display: flex;
    gap: 0.5rem;
    color: var(--blue);
    font-size: 14px;
    font-weight: bold;
}
.concluidas {
    display: flex;
    gap: 0.5rem;
    color: var(--purple);
    font-size: 14px;
    font-weight: bold;
}
.count {
    color: var(--gray100);
    background: var(--gray400);
    padding: 0.5rem;
    height:1.188rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    font-size: 12px;
    
}
.tasks { 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 4rem;
}